h1, h2, h3, h4, h5, h6, p, code, body a {
  margin: 5px;
}

h1 code {
  color: black;
}

.material-symbols-rounded {
  vertical-align: middle !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
